<mat-card *ngIf="hero" class="margin-24">
    <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>{{data.title}}</mat-card-title>
        <mat-card-subtitle>{{data.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://source.unsplash.com/random/800x600">
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="Favorite hero" [(ngModel)]="hero.name" name="something">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button color="accent" (click)="save()">Save</button>
    </mat-card-actions>
</mat-card>