[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Angular 6 / Angular Material 6 / Endpoints / Google Cloud / Firebase project boilerplate
[access "refs/*"]
	owner = group user/Miki (Miki-AG)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Miki (Miki-AG)
	label-Verified = -1..+1 group user/Miki (Miki-AG)
	push = group user/Miki (Miki-AG)
	read = group user/Miki (Miki-AG)
	rebase = group user/Miki (Miki-AG)
	removeReviewer = group user/Miki (Miki-AG)
	submit = group user/Miki (Miki-AG)
[access "refs/heads/*"]
	create = group user/Miki (Miki-AG)
	push = +force group user/Miki (Miki-AG)
	pushMerge = group user/Miki (Miki-AG)
	read = group user/Miki (Miki-AG)
[access "refs/tags/*"]
	push = group user/Miki (Miki-AG)
	push = +force group user/Miki (Miki-AG)
