.search-result-container {
  position: absolute;
}

.search-result {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  color: black;
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 14px;
}
