<div fxFlex fxLayout='column'>
    <div class="grid grid-pad">
        <mat-card *ngFor="let hero of heroes" class="col-1-4">
            <mat-card-header>
                <img mat-card-avatar src="https://source.unsplash.com/user/erondu/200x200?username={{hero.name}}">
                <mat-card-title>{{hero.name}}</mat-card-title>
                <mat-card-subtitle>Really, they are!</mat-card-subtitle>
            </mat-card-header>
            <!-- <img *ngIf="!hero.blob_key" class="cover-photo" mat-card-image src="https://source.unsplash.com/user/erondu/800x600?username={{hero.name}}"> -->
            <img *ngIf="hero.blob_key" class="cover-photo" mat-card-image [src]="'/view_photo/' + hero.blob_key">
            <div *ngIf="!hero.blob_key" class="tile-25">
                <div class="centered">No photo</div>
            </div>
            <mat-card-content>
                <p>ID: {{hero.id}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="accent" (click)="gotoDetail(hero)">See detail</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>