/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/


/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/


/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.fab-button-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.margin-24 {
    margin: 24px;
}

.margin-around-header {
    margin-top: 24px!important;
    margin-bottom: 14px!important;
}

.mat-dialog-container .mat-card {
    margin: 0!important;
}

.mat-dialog-container .mat-card .mat-card-header {
    margin-bottom: 8px;
}

.file-picker {
    position: absolute;
    top: 85px;
    right: 0;
    cursor: pointer;
}

.file-picker mat-icon {
    background: rgba(255, 255, 255, 0.75);
    color: #ff4081;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.cover-photo {
    object-fit: cover;
    height: 25vw;
}

.tile-25 {
    background: #e8e8e8;
    height: 25vw;
    position: relative;
    width: calc(100% + 48px);
    margin: 0 -24px 19px -24px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
}

div.grid-pad {
    padding-top: 0!important;
}

.col-1-4 {
    width: 25vw;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.highlight-section {
    background-color: #ffc7c7;
    padding: 24px;
    margin: 16px;
    border-radius: 4px;
    font-size: large;
}

.highlight-section p {
    margin: 0;
    padding: 0;
}

code {
    background-color: #ffffa0;
}

mat-dialog-container {
    padding: 0!important;
}