/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


@import '~@angular/material/prebuilt-themes/indigo-pink.css';



/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/


/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/


/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.fab-button-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.margin-24 {
    margin: 24px;
}

.mat-dialog-container .mat-card {
    margin: 0!important;
}

.mat-dialog-container .mat-card .mat-card-header {
    margin-bottom: 8px;
}